name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit-tests:
    name: "Unit tests"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
      - name: Run tests
        run: nix-shell --run 'run_unit_tests'

  clang-format:
    name: "Run clang-format"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
      - name: Run clang-format
        run: nix-shell --run 'run_clang-format'
      - name: Check no changes
        run: nix-shell --run 'check_no_changes'
